*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
nav.navbar{
    background-color: #fff;
    padding:10px;
    margin:0 20px;
}
nav.navbar .navbar-brand{
    color:#5db0fe;
    font-weight:700;
    font-size: 35px;
}
nav.navbar .navbar-nav{
    padding:20px;
}
nav.navbar .navbar-nav .nav-link{
    padding-left: 30px;
    font-size: 15px;
    color:#000;
}
nav.navbar .navbar-nav .nav-link .las{
    font-size:22px;
}
nav.navbar .navbar-nav .line{
    text-decoration: underline;
    /* border-bottom:2px solid #000; */
}
button.btn{
    color:#000;
    font-size:15px;
    letter-spacing:.05em;
}

/****section1*******/
section.section-a .container{
    background-color: #baddfd;
    margin-top: 30px;
    border-radius: 20px;
    height: 400px;
    padding: 50px 50px;
}
section.section-a .container .text{
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    line-height: 1.9em;
    margin-bottom: 20px;
    text-align: left;
}
section.section-a .container .text h1{
    margin-bottom:20px;
    font-size:40px;
    text-transform: capitalize;
    font-weight:bolder;
}
section.section-a .container .text p{
    line-height:30px;
    font-size:19px;
    font-weight:500;
}
section.section-a .container .text button{
    color:#fff;
    background-color: #1a87ec;
    padding: 10px 20px;
    border-radius: 10px;
    text-align:center; 
}
section.section-a .container .main-image{
    width:400px;
    height:400px;
}
section.section-a .container .main-image img{
    max-width:100%;
    height:auto;
    display: block;
}
/* section.divisions {
    display:flex;
    flex-direction: row-reverse;
    align-items: flex-end;
} */
section.divisions .virtual img{
    width:100px;
    height:auto;
    display: block;
}
section.divisions .virtual{
    display:flex;
    width:30%;
    background-color:pink;
    border-radius:20%;

}
@media only screen and (max-width:480px){
    /* section.content{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
         justify-content:space-between;
    }*/
    section.content div button{
        color:orange;
    }

}